/* Page */

/*
Primary         0C5DA5		26537C		043A6B		408DD2		679FD2
Complementary   FF9500		BF8430		A66100		FFB040		FFC573
*/

img 
{
    border-width:0;
}

a
{
    color: #043A6B;
}

a .visited
{
    color: #26537C;
}


body
{
    font-family: Georgia, Arial,Helvetica,SansSerif;
    font-size: .8em; /*background-color: #A5A5A0;*/
    background: url(bg_top.jpg) #ecece7 repeat-x center top;
}

#wrap
{
    margin: 0px auto;
    width: 1010px;
}

#right
{
    float: right;
    width: 230px;
}

#right li 
{
    list-style-type:square;
    padding: 2px 10px;
    
}

.right-content 
{
    margin: 0px  20px 20px 20px;
    padding:20px;
    background-color:white;
    border:solid 1px #ecece7;
    
    border-radius: 0 0 0 .3em;
}

.right-content h1
{
    font-size:1.2em;
    color:#26537C;
    border-bottom:dotted 1px #26537C;
}

#page
{
    /* CSS 3 */
    border-radius: .5em 0 0 0;
    width: 620px;
    background-color: #ffffff;
    padding: 40px 80px 20px 80px;
}

#header
{
    padding:  10px  80px 20px 80px;
    width: 1010px;
    margin: 0px auto;
    border-radius: .5em;
}

h1 span 
{
    color:#26537C;
}

h1
{
    font-family: Arial;
    font-size: 2.6em;
    letter-spacing: 4px;
    color: #FF9500;
    text-transform: uppercase;
}

#subtitle
{
    position: relative;
    top: -16px;
    font-size: 1.2em;
}

#footer
{
    min-height: 200px;
    width: 620px;
    margin: 30px 0 30px 0;
    padding: 20px 80px 40px 80px;
    background-color: white; /* CSS 3 */
    border-radius: .5em;
}

#footer h2
{
    color: #26537C;
    border-color: #26537C;
}

#footer div
{
    width: 40%;
    float: left;
    margin: 20px;
}

#rss
{
    padding-right:400px;
    
    float: right;
    width: 40px;
    position: relative;
    left: 60px;
}

/* Input forms */
fieldset ul
{
    list-style: none;
}

.tab li
{
    float: left;
    list-style: none;
    margin: 0 1em 0 1em;
}

/* Post */

.post-date
{
    position: relative;
    top: 55px;
    left: -100px;
    height: 30px;
    width: 30px;
    background-color: #FFB040;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Verdana;
    font-weight: bold;
    padding: 3px;
    font-size: .9em; /* CSS 3 */
    border-radius: .3em;
}

li
{
    padding-top: 5px;
}

.articleImage
{
    float: right;
    margin: 20px;
}

.post-share img
{
    padding: 3px;
}

.dsq-comment-count
{
    margin-right: 20px;
}

.twitter-icon img
{
    position: relative;
    top: 6px;
}

.post-content
{
    margin-left: 40px;
}

.post-footer
{
    background-color: #ececec;
    padding: 5px;
}

p
{
    padding-top: 10px;
    line-height: 1.6;
}

h1 a
{
    color: inherit;
    text-decoration: inherit;
}

h2 a
{
    color: inherit;
    text-decoration: inherit;
}

h2
{
    border-bottom: dotted 1px black;
    font-size: 1.6em;
    font-weight:lighter;
    padding-bottom: 6px;
    margin-top: 16px;
    line-height: 1.5;
    margin: 0.67em 0px;
}

h3
{
}

.bad, .good
{
    background-position: 100% 0%;
    background-repeat: no-repeat;
    padding: 40px;
    margin: 20px 0px;
}


.bad
{
    background-color: #FFD9D9;
    background-image: url(http://www.concordion.org/image/technique/Bad.png);
}

.good
{
    background-color: #D9FFD9;
    background-image: url(http://www.concordion.org/image/technique/Good.png);
}

pre
{
    font-size: 1.3em;
    background-color: #ecece7;
    padding: 20px;
    color:Black;
}

#archive a
{
    text-decoration: none;
    padding-left: 20px;
    line-height: 30px;
}

#fb_share 
{
    background-color:#3B5998;
    color:White;
    font-weight:bold;
    font-family:Arial;
    text-decoration:none;
    margin:3px;
    border-radius: .3em;
}

.tags 
{
    text-transform:lowercase;
}